QWidget
{
  background-color: #2f2d55;
  color: white;
}


QLineEdit
{
  border: 2px solid gray;
  border-radius: 8px;
  background-color: #00557f;
  color: white;
  selection-background-color: darkgray;
}


QPlainTextEdit
{
  border-radius: 15px;
}


QMenu
{
  background-color: #2d436d;
  border: 1px solid grey;
}


QMenu::item
{
  background-color: transparent;
}


QMenu::item:selected 
{
  background-color: #3e7dbc;
}


QTreeView
{
  background-color: #3b4a7f;
  alternate-background-color: #3b4a7f;
}


QListView
{
  background-color: #3b4a7f;
  alternate-background-color: #3b4a7f;
}


QScrollBar:vertical
{
   width: 24px;
   border: 1px solid grey;
}



QTabWidget::pane
{
  border: 0px;
}


QTabWidget::tab-bar#tab_editor
{
  alignment: center;
}
