[Desktop Entry]
Encoding=UTF-8
Name=TEA
Terminal=false
Type=Application
Icon=tea-icon-v3-03
Categories=Application;Utility;TextEditor;
StartupNotify=false
MimeType=text/plain;
NoDisplay=false
Version=1.1
Keywords=text editor;text;editor;
Keywords[de]=Texteditor;Text;Editor;
Comment=Text editor with hundreds of functions
Comment[de]=Texteditor mit hunderten Funktionen
Exec=tea %U