[Desktop Entry]
Encoding=UTF-8
Name=TEA
Comment=TEA text editor
Exec=tea %u
Terminal=false
Type=Application
Icon=application-x-executable
Categories=Application;Utility;TextEditor;
StartupNotify=false
MimeType=text/plain;
NoDisplay=false