[Desktop Entry]
Name=TEA
Terminal=false
Type=Application
Icon=tea
Exec=tea %F
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/plain;application/epub+zip;application/fb2;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.oasis.opendocument.text;application/rtf;application/x-tex; 
NoDisplay=false
Version=1.1
Keywords=text editor;text;editor;
Keywords[de]=Texteditor;Text;Editor;
Comment=Text editor with hundreds of functions
Comment[de]=Texteditor mit hunderten Funktionen
